{:paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.10.1"}
        org.clojure/clojurescript   {:mvn/version "1.10.773"}
        org.clojure/core.rrb-vector {:mvn/version "0.1.1"}
        org.clojure/core.cache      {:mvn/version "1.0.207"}
        com.taoensso/carmine        {:mvn/version "2.20.0"}
        io.replikativ/konserve      {:git/url "https://github.com/replikativ/konserve.git"
                                     :sha "f904359fc91fd6e6c36b9cd320d7beadaf5a15b7"}}
 :aliases {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.10.21"}
                               binaryage/devtools   {:mvn/version "1.0.2"}}
                  :extra-paths ["test"]}
           :dev  {:extra-deps {criterium                {:mvn/version "0.4.4"}}}
           :test {:extra-deps {lambdaisland/kaocha      {:mvn/version "1.0.641"}
                               org.clojure/test.check   {:mvn/version "0.9.0"}}
                  :extra-paths ["test"]}}}